<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Empresa</title>
    <link href="../static/css/datosView.css" th:href="@{/css/datosView.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1 th:text="${empresa.nombre}"></h1>
    <div class="show">Direccion:<a th:text="${empresa.direccion}"></a></div>
    <div class="show">Telefono:<a th:text="${empresa.telefono}"></a></div>
    <div class="show">Descripcion:<a th:text="${empresa.descripcion}"></a></div>
    <div class="show">Calificacion:<a th:text="${empresa.calificacion}"></a></div>
</div>
<a class="btnl" href="/admin/empresas">Atras</a>
</body>
</html>