<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empresa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #FFE4B5;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #FFE4B5;
        }
    </style>
</head>
<body  th:style="'background-image: url('+@{/imagenes/fondoPizza.jpg}+'); background-repeat: no-repeat;
                background-size:100% 100%; background-attachment: fixed; background-possition: center;  background-color:#FAFAD2;'">
<div class="btn-group btn-group-lg ">
<a class="btn" href="/empresa/new"><button  type="button" class="btn btn-primary" style="background-color: #F4D03F">Agregar restaurante</button></a>
<a class="btn" href="/options"><button  type="button" class="btn btn-primary" style="background-color: #F4D03F">Volver </button></a>
</div>
    <div class="container">
    <div th:if="${not #lists.isEmpty(empresas)}">
        <table class="table table-striped">
            <caption><h1 style="color:#FDFEFE">Lista de Restaurantes</h1></caption>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Descripcion</th>
                <th>Calificacion</th>
                <th>Acciones</th>
            </tr>
            <tr th:each="empresa : ${empresas}">
                <td th:text="${empresa.idEmpresa}">Id</td>
                <td th:text="${empresa.nombre}">descirption</td>
                <td th:text="${empresa.direccion}">direccion</td>
                <td th:text="${empresa.telefono}">telefono</td>
                <td th:text="${empresa.descripcion}">descripcion</td>
                <td th:text="${empresa.calificacion}">calificacion</td>
                <td><a th:href="${ '/empresa/' + empresa.idEmpresa}">Ver</a>
                    <a th:href="${ '/empresa/eliminar/' + empresa.idEmpresa}">Eliminar</a>
                    <a th:href="${ '/empresa/editar/' + empresa.idEmpresa}">Editar</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>