<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Empresa</title>
</head>
<body  th:style="'background-image: url('+@{/imagenes/fondoPizza.jpg}+'); background-repeat: no-repeat;
                background-size:100% 100%; background-attachment: fixed; background-possition: center;  background-color:#FAFAD2;'">
    <b>Nombre:</b><p th:text="${empresa.nombre}"></p>
    <b>Direccion:</b><p th:text="${empresa.direccion}"></p>
    <b>Telefono:</b><p th:text="${empresa.telefono}"></p>
    <b>Descripcion:</b><p th:text="${empresa.descripcion}"></p>
    <b>Calificacion:</b><p th:text="${empresa.calificacion}"></p>
</body>
</html>