<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar</title>
</head>
<body  th:style="'background-image: url('+@{/imagenes/fondoPizza.jpg}+'); background-repeat: no-repeat;
background-size:100% 100%; background-attachment: fixed; background-possition: center;  background-color:#FAFAD2;'">
<div th:each="user:${user}">
    <div><font color="white" size="4" th:text="${'          Id: ' +user.id}"></font></div>
    <div><font color="white" size="4" th:text="${'          Email: ' + user.email}"></font></div>
    <div><font color="white" size="4" th:text="${'          Nombre: ' + user.name}"></font></div>
    <div><font color="white" size="4" th:text="${'          Role(1 Usuario privilegiado -2 Usuario Normal): ' + user.id}"></font></div>
</div>

</body>
</html>