<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Options</title>
    <style>

    </style>
</head>
<body  th:style="'background-image: url('+@{/imagenes/fondoPizza.jpg}+'); background-repeat: no-repeat;
                background-size:100% 100%; background-attachment: fixed; background-possition: center;  background-color:#FAFAD2;'">

<a href="/admin/option/new"><button type="button" class="btn btn-link">Agregar option</button></a>
<div class="container">
    <div th:if="${not #lists.isEmpty(options)}">
        <table class="table table-striped">
            <caption><h1>Lista de Opciones</h1></caption>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Opciones</th>
            </tr>
            <tr th:each="option : ${options}">
                <td th:text="${option.id}">Id</td>
                <td th:text="${option.name}">Name</td>
                <td th:each= "empresa : ${option.empresa}"><div th:text="${empresa.nombre}"></div></td>
                <td th:text="${option.price}">Price</td>
                <td><img class="info" th:src="${option.image}" alt="Paris" width="50" height="50" /></td>
                <td><!-- <a th:href="${ '/option/' + option.id">Ver</a> -->
                    <a th:href="${ '/admin/option/eliminar/' + option.id}">Eliminar</a>
                    <a th:href="${ '/admin/option/editar/' + option.id}">Editar</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<a href="/admin/empresas"><button type="button" class="btn btn-link">Atras</button></a>
</body>
</html>