<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Options</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #FFE4B5;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #FFE4B5;
        }
    </style>
</head>
<body  th:style="'background-image: url('+@{/imagenes/fondoPizza.jpg}+'); background-repeat: no-repeat;
                background-size:100% 100%; background-attachment: fixed; background-possition: center;  background-color:#FAFAD2;'">
<div class="btn-group btn-group-lg ">
<a class="btn"  href="/option/new"><button type="button" class="btn btn-primary" style="background-color: #F4D03F"  >Agregar Option</button></a>
<a class="btn" href="/empresas"><button  type="button" class="btn btn-primary" style="background-color: #F4D03F" >Restaurantes</button></a>
</div>
<div class="container">
    <div th:if="${not #lists.isEmpty(options)}">
        <table class="table table-striped">
            <caption><h1>Lista de Opciones</h1></caption>
            <tr>
                <th style="color:#FDFEFE">Id</th>
                <th style="color:#FDFEFE">Nombre</th>
                <th style="color:#FDFEFE">Empresa</th>
                <th style="color:#FDFEFE">Precio</th>

            </tr>
            <tr th:each="option : ${options}">
                <td  style="color:#FDFEFE" th:text="${option.id}">Id</td>
                <td  style="color:#FDFEFE" th:text="${option.name}">Name</td>
                <td  style="color:#FDFEFE" th:each= "empresa : ${option.empresa}"><div th:text="${empresa.nombre}"></div></td>
                <td  style="color:#FDFEFE" th:text="${option.price}">Price</td>
                <td><!-- <a th:href="${ '/option/' + option.id">Ver</a> -->
                    <a th:href="${ '/option/eliminar/' + option.id}">Eliminar</a>
                    <a th:href="${ '/option/editar/' + option.id}">Editar</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>