<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List</title>
</head>
<body  th:style="'background-image: url('+@{/imagenes/fondoPizza.jpg}+'); background-repeat: no-repeat;
                background-size:100% 100%; background-attachment: fixed; background-possition: center;  background-color:#FAFAD2;'">
<div th:each="user : ${users}">
    <b>ID:</b><p th:text="${user.id}"></p>
    <b>Nombre:</b><p th:text="${user.name}"></p>
    <b>Nombre:</b><p th:text="${user.email}"></p>
    <div th:each="role : ${user.roles}">
        <b>Role:</b><p th:text="${role.name}"></p>
    </div>
</div>
</body>
</html>